.highlight-link {
  color: #ff6219; /* Color destacado para el enlace */
  font-weight: bold;

}

.center-text {
  text-align: center;
}
.left-text {
  text-align: left;
}

/*body {
  background-color: #d8d8d8; 
} 
*/

.btn-custom {
  background-color: #0062cc; /* Color del botón actualizado */
  color: white;
  border-radius: 0.25rem; /* Borde redondeado */
}

.form-outline input {
  border-color: #767677ab; /* Color del borde del campo de entrada */
  border-radius: 0.25rem; /* Borde redondeado */
}

.form-label {
  color: #000000; /* Color del texto de la etiqueta */
}

.card {
  border-radius: 1rem;
  background-color: #ffffff; /* Color de fondo de la tarjeta */
  box-shadow: 0 2px 2px rgba(91, 91, 92, 0.582); /* Sombra suave */
}

.text-muted {
  color: #393f81 !important; /* Color del texto mutado */
}
